# Node.js
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.eslintcache

# Python
backend/__pycache__/
backend/venv/
backend/env/
backend/.env
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data
data/*.csv
data/*.xlsx
